.subscriptions {
    .subscriptions-header {
        display: flex;
        align-items: center;
        padding: 16px 0;
        box-shadow: 0 0 3px 0 #00000060;
        .back-btn {
            padding: 0 16px;
        }
        .title {
            color: black;
            font-size: 24px;
            font-weight: 600;
        }
        .user-email {
            color: #990000;
            cursor: pointer;
        }
    }
    .subscriptions-content {
        margin: auto;
        width: 100%;
        @media (min-width: 768px) {
            & {
                width: 50%;
            }
        }
    }

    .subscriptions-list {
        .subscription {
            display: flex;
            justify-content: space-between;
            align-self: center;
            border-bottom: 1px solid #C7C7C7;
            padding: 6px 0;
        }
        .list-header {
            padding: 12px 0;
        }
        .unsubscribe
        {
            .btn
            {
                color: white;
                background-color: #C50000;
                border: none;
            }
            padding: 0 28px;
        }
    }

    .email-form{
        margin-top: 32px;
        padding: 0 28px;
        .email-input {
            width: 100%;
            padding: 8px;
            border-radius: 8px;
            border: none;
            margin: 8px 0;
        }
        input[type="email"].email-input
        {
            background-color: #ececec;
            padding: 8px 16px;
        }
        .btn
        {
            border-radius: 24px;
            padding: 6px 24px;
            color: white;
            background-color: #C50000;
            margin-top: 8px;
        }
    }

    input[type="checkbox"] {
        margin: 0 16px;
        width: 16px;
        cursor: pointer;
        background-color: red;
    }
}
